{% extends "base.html" %}

{% block navbar %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">
			  HackingPot
			</a>
			<ul class="nav">
			  <li>
			    <a href="/">Home</a>
			  </li>
			  <li class="active">
					<a href="/about">About</a>
			</li>
			</ul>
			<form class="navbar-search pull-left" action="/search">
			  <input type="text" class="search-query" placeholder="Ingredients" name="q" >
			</form>
			<div class="pull-right">
				<iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:21px; padding:10px" allowTransparency="true"></iframe>
				<iframe allowtransparency="true" frameborder="0" scrolling="no"       src="http://platform.twitter.com/widgets/tweet_button.1334389481.html#_=1334646308010&count=horizontal&id=twitter-widget-0&lang=en&original_referer=http%3A%2F%2Fhackingpot.com%2F&related=gcmartinelli&size=m&text=HackingPot%3A%20find%20cool%20DIY%20projects!&url=http%3A%2F%2Fhackingpot.com%2F" style="width:100px; height:21px; padding:10px"></iframe>
			</div>
		</div>
	</div>
</div>
{% endblock %}
	{% block content %}
	<div class="container">
	<div class="hero-unit">
	  <h3>Where did this come from?</h3>
	  <p>HackingPot was made as a final project for <a href="http://www.udacity.com/overview/Course/cs101/CourseRev/apr2012">Udacity's CS101 course</a>. I've had the idea for quite some time, but since I couldn't program very well, I kept hitting a wall. Thanks to Udacity - especial thanks to Dave Evans and Peter Thrun - I was able to take this idea out of the drawing board.</p>
		<br>
	  <h3>Why did I make this?</h3>
	  <p>I really enjoy doing DIY projects, the thing is I don't have much time to dedicate to them. Sometimes I find myself with a weekend off when I can build something but I never knew what to build. With this search engine I can now find cool projects using what I have available!</p>
		<br>
		<h3>What did I use to build it?</h3>
		  <p>This website is basically made in <a href="www.python.org">Python</a>. I did use some <a href="www.djangoproject.org">Django</a> to handle the server side and also the excellent <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> to give it some style. <a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a> was also used in the crawler.</p>
		<br>
		<h3>Is the source code available?</h3>
		  <p>Yes! You can review and download the code at <a href="https://github.com/gcmartinelli/HackingPot">GitHub</a>.</p>
		<br>
		<h3>Any tips for people wanting to learn how to program?</h3>
		  <p>Yes! Look for courses at <a href="www.udacity.com">Udacity</a>, <a href="www.codecademy.com">CodeCademy</a> and <a href="www.kahnacademy.org">Khan Academy</a>. It's never been easier to learn how to program, I wish I had this opportunity sooner! Regarding what language I recommend beginners... without a doubt: Python! :)</p>
	</div>
	</div>
	
	</div>
	{% endblock %}
