{% extends "base.html" %}
{% block navbar %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">
			  HackingPot
			</a>
			<ul class="nav">
			  <li class="active">
			    <a href="/">Home</a>
			  </li>
			  <li>
					<a href="/about">About</a>
			</li>
			</ul>
			<div class="pull-right">
				<div id="social" style="">
					<div class="pinterest">
						<a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
					</div>
					<div class="twitter">
							<a href="https://twitter.com/share" class="twitter-share-button" data-via="gcmartinelli">Tweet</a></p>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
					
					<div class="g-plusone" data-size="medium"></div>	
									
					<div class="fb-like" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false" data-colorscheme="dark"></div>
					
					
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}
	{% block content %}
	<div class="container">
	<div class="hero-unit">
	  <h1>Looking for DIY projects?</h1><br>
	  <p>HackingPot is a search engine for <b>makers</b> and <b>hackers</b>. Search for cool project recipes using the ingredients you have at hand.</p>
	  <p>
		<center>
	   	<form class="well form-search" action="/search" method="get">
			<h3>Choose ingredients:</h3><input type="text" name="q" value="" placeholder="Ingredients (use ',' to separate multiple ingredients)" />
		<input type="submit" value="Find recipe!" class="btn btn-warning" />
		</form>
		</center>
	  </p>
	</div>
	
	</div>
	{% endblock %}
