{% extends "base.html" %}

{% block content %}
<div class="container">
	{% if results == None %}
		<h2>Sorry, I couldn't find any results with {% for entry in query %}<span style="color:orange"> {{ entry }}</span>{% endfor %}.<br> If you are searching for multiple parts/ingredients, have you tried separating them with a comma (",")?</h2>

	{% else %}
	<h2>Ingredients: {% for entry in query %}<span style="color:orange"> {{ entry }}</span>{% endfor %}</h2>
			{% for result in results %}
			<div class="row-fluid well">
				<div class="span12">
					<div class="row-fluid">
						<div class="span8">
							<a href="{{result.4}}"><h3>{{ result.0 }}</h3></a>
							<a href="{{result.4}}"><img src="{{result.3}}"/></a><br>
							<h5>Percentage of Ingredients:</h5>
							<div class="progress progress-warning progress-striped
								     active" style="width:300px">
							  <div class="bar"
							       style="width: {{result.1}}%;"></div>
							</div>
						</div>
						<div class="span4">
							<h3>Ingredients:</h3>
							{% for part in result.2 %}
								<a href="/search?q={% for entry in query %}{{entry}}%2C+{%endfor%}{{part}}">{{ part }}</a><br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
	{% endif %}
</div>
{% endblock %}
